<footer class="site-footer">
    <p>&copy; <span id="current-year"></span> String Cut Puppets</p>

    <div class="footer-links">
        <a href="https://www.instagram.com/stringcutpuppets/" aria-label="Instagram">Instagram</a>
        <a href="https://open.spotify.com/artist/1vydKgchlRpZ1zzWzXWOvH?si=9iy76kW1RKyKSlQh0xXnoA" aria-label="Spotify">Spotify</a>
        <a href="https://www.reverbnation.com/stringcutpuppets" aria-label="ReverbNation">ReverbNation</a>
        <a href="https://www.youtube.com/channel/UCXUx3rJ745WMK2uw4n1tWIw" aria-label="YouTube">YouTube</a>
    </div>
</footer>